#section1{
     display: flex;
    flex-wrap: nowrap;
     background: url("http://farm8.staticflickr.com/7552/15309845043_0252e32c96_b.jpg") no-repeat;
     background-size: cover;

}

#section2{
    background-color: rgb(44, 62, 80);
}

#section3{
    background-color: rgb(51, 153, 204);
}

.section{
    text-align:center;
    color:white;
}

.center{
    text-align: center;
}



