/*styling all of the ebusiness sections*/

/*styling eEbus1*/
.productheading{
    position: absolute;
    left:47%;
    transform: translate(-50%, -50%);
    top:5%;
}

.centering{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top: 50%
}

.addtocart{
    position: absolute;
    left:48%;
    top:69%;
}

.clearchoice{
    position: absolute;
    left:53%;
    top:65%; 
}

.calculatecost{
    position: absolute;
    left:45%;
    top:65%;
}

/*styling Ebus2*/

.paymentheading{
    position: absolute;
    left:47%;
    transform: translate(-50%, -50%);
    top:5%;
}

.detailscentering{
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    top: 50%
}

.btnproceed{
    position: absolute;
    left:45%;
    top:65%; 
}

.btnvaladate{
    position: absolute;
    left:45%;
    top:70%;
}

/*styling for Ebus3*/

.recptheading{
    position: absolute;
    left:47%;
    transform: translate(-50%, -50%);
    top:5%;
}

.receptcentering{
    position: absolute;
    left:45%;
    transform: translate(-50%, -50%);
    top: 50%; 
}

.thankyou{
    position: absolute;
    left:47%;
    transform: translate(-50%, -50%);
    top: 70%;
}


.homebutton {
    position: absolute;
    left:47%;
    transform: translate(-50%, -50%);
    top: 75%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* styling for imsges throuought ebusiness */

.amazon img{
    position: fixed;
    max-width: 200px;
    max-height: 70px;
    top: 20%;
    left: 80%;
}

.cloud9 img{
    position: fixed;
    max-width: 200px;
    max-height: 70px;
    top: 20%;
    left: 60%;
}

.salesforce img{
    position: fixed;
    max-width: 500px;
    max-height: 80px;
    top: 20%;
    left: 35%;
}

.gmail img{
    position: fixed;
    max-width: 200px;
    max-height: 70px;
    top: 20%;
    left: 10%;
}

.lock{
    position: fixed;
    max-width: 200px;
    max-height: 70px;
    top: 18%;
    right: 50%
}

.done{
     position: fixed;
    max-width: 200px;
    max-height: 70px;
    top: 14%;
    right: 47%
}

